@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Readex+Pro:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    --maxWidth: 60vw;
    padding: 0;
    margin: 0;
}

body{
    background-color: #020c18;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}


nav{
    width: var(--maxWidth)
}

.navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
}

.logoContainer{
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
}



a{
    text-decoration: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}


.signup{
    border: 1px solid #242424;
    border-radius: 11px;
    padding: 10px 15px;
    background-color: #242424;
}


/* main content style */

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 300px;
}

.intro-main-wrapper{
    width: var(--maxWidth);
}

.intro-wrapper{
    display: flex;
    justify-content: space-between;
}


.intro-title{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: white;
}

.intro-body-text{
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(255, 255, 255, 0.39);
}

.intro-image img{
    height: 300px;
}


.form-wrapper{
    display: flex;
}

.form-field{
    position: relative;
}

#form{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.178);;
    background: none;
    margin-right: 25px;
    color: white;
    padding: 0 14px;
    font-size: 13px;
    animation: change-color ease-in 5s 0s forwards infinite;
}
#form::placeholder{
    font-family: 'Nunito Sans', sans-serif;

}





#login{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 1px solid #242424;
    border-radius: 11px;
    background-color: #242424;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}






@keyframes change-color {
    10% {
        color: red;
}

    30%{
        color:white;
    }

    70%{
        color:blue;
    }

    100%{
        color:pink;
    }
}